.profile{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 34px 0 20px 0;
    border-bottom: 1px rgba(33, 33, 33, .4) solid; 
    
}




.profile__name-description-edit{
    display: flex;
    flex-direction: column;
}

.profile__avatar{
    border-radius: 8px;
    padding: 0 20px 0 0;
}

.profile__name-aviator{
    weight: 500px;
    size: 16px;
    line-height: 16px;
    margin: 0;

}

.profile__name-bessie{
    weight: 500px;
    size: 32px;
    line-height: 32px;
    color: #212121;
    margin: 0 0;
    padding: 0 0 12px;




}


.profile__edit-button{
    margin-top: auto;
    color: rgba(33, 33, 33, 1);
    background-color: #FCF5E5;
    border: none;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 0;
    align-items: center;
}

.profile__edit-pencil-icon{
    display: flex;
    padding: 0 8px 0 0;
   
}

.profile__edit-text{
    weight: 500;
    font-size: 16px;
    line-height: 16px;

}

.profile__new-post-button{
    margin-left: auto;
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding: 18px 32px;
    border-radius: 8px;
    background-color: #212121;
    color: #FFF;
}


.profile__plus-icon{
    max-width: 12px;
    max-height: 12px;
    color: 2px solid rgba(252, 245, 229, 1);
 
}

.profile__plus-text{
    color: 2px solid rgba(252, 245, 229, 1);
    weight: 500;
    font-size: 16px;
    padding: 0 0 0 8px;
    line-height: 16px;
    margin: 0 0;
}